<%- layout('layout/boilerplate.ejs') %>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://lottie.host/596da285-68d7-4aa7-aa24-cf90b2143ced/CRl4hgThGS.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>

    <a class="btn btn-primary btn-info" href="/" role="button">Go Home</a>
    <a class="btn btn-primary btn-info" href="/paymentmethod" role="button">Pay Money</a>