<%- layout('layout/boilerplate.ejs') %>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://lottie.host/412d1ec5-d0ff-4ccc-a338-373f8b9df2cb/D50P3Yxv4N.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>

    <a class="btn btn-primary btn-info" href="/" role="button">Go Home</a>
    <a class="btn btn-primary btn-info" href="/paymentmethod" role="button">Retry</a>