<%- layout('layout/boilerplate.ejs') %>

    <form action="/verifyface" enctype="multipart/form-data" method="post">
        <input type="file" name="verifyingimage" id="verifyingimage" required>
        <button type="submit" class="btn btn-primary btn-success">Make Payment</button>
    </form>